.row {
     margin-bottom: 1.5rem;
}

mat-radio-button {
     margin-right: 1rem;
}

mat-chip {
     cursor: pointer;
}

mat-icon {
     cursor: pointer;
}

h2 {
     height: 3rem;
     button {
          vertical-align: middle;
     }
}

.dupes {
     .show-dupes {
          font-size: 14px;
     }
}

.process-tab {
     margin: 1rem;
}
